<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Helps mobile users -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!--Enlace con main.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
          crossorigin="anonymous">
    <title>TFG</title>

</head>
<body>
<main>
    <!--<h1 class=" display-4 text-center"> Suministros Cabanel </h1> -->
</main>

<!-- Menú desplegable para elegir el tipo de acceso a la web -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Suministros Cabanel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accesos
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/clientes">Acceso clientes</a></li>
                        <li><a class="dropdown-item" href="/administradores">Acceso adminstradores</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/1474993/pexels-photo-1474993.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                 class="d-block w-100" alt="Welding" style="object-fit: cover; height: 200px; ">
            <div class="carousel-caption d-none d-md-block">
                <h2 style="color: white; text-shadow: 2px 2px 4px #000000;">Mejores materiales para uso profesional</h2>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/532006/pexels-photo-532006.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="d-block w-100"
                 alt="Factory" style="object-fit: cover;height: 200px">
            <div class="carousel-caption d-none d-md-block">
                <h2 style="color: white; text-shadow: 2px 2px 4px #000000;">Comprometidos con el medio ambiente</h2>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/236709/pexels-photo-236709.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                 class="d-block w-100" alt="Business" style="object-fit: cover;height: 200px">
            <div class="carousel-caption d-none d-md-block">
                <h2 style="color: white; text-shadow: 2px 2px 4px #000000;">Valorados por grandes empresas</h2>
            </div>
        </div>
    </div>


</div>

<div class="container" style= "margin-bottom:100px ; margin-top:30px" >
    <div class="row">
        <div class="col-sm">
            <div class="card" style="margin-top:20px">
                <img src="https://images.pexels.com/photos/414837/pexels-photo-414837.jpeg?cs=srgb&dl=pexels-pixabay-414837.jpg&fm=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Quienes somos</h5>
                    <p class="card-text">Productos Cabanel abió sus puertas en 2021 con el objetivo de proporcionar materiales de primera calidad con el mínimo impacto medioambiental</p>

                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-top:20px">
            <img src="https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Area clientes</h5>
                <p class="card-text">Si ya eres cliente y deseas realizar un pedido</p>
                <a href="/clientes" class="btn btn-primary">Acceder</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-top:20px; ">
            <img src="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aún no eres cliente?</h5>
                <p class="card-text">Ponte en contacto con nuestro departamento comercial para empezar a trabajar con nosotros</p>
                <h5> <p> alta@cabanel.com </p></h5>
            </div>
        </div>

    </div>

</div>

  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Página de proyecto final de Jose Antonio Valero Aige para Tokio School. Todo el código ha sido escrito por mi. La marca Cabanel no está registrada. </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Software Stack</h6>
            <ul class="footer-links">
              <li><a href="https://www.python.org/">Python</a></li>
              <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
              <li><a href="https://www.sqlalchemy.org/">SQL Alchemy</a></li>
              <li><a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/clientes">Acceso clientes</a></li>
              <li><a href="/administradores">Acceso administradores</a></li><h6>Contact</h6>
              <li>CONTACT@CABANEL.COM</li>
              <li>ALTA@CABANEL.COM</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by Cabanel
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="linkedin" href="https://www.linkedin.com/in/jose-antonio-valero-aige-2531731b3/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>




<!-- Script necesario para que funcionen los menús interactivos con Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>